article{
    position: relative;
    margin: 0px;
}

#lado_esquerdo{
    position: relative;
    float: left;
    background-color: #3498DB;
    width: 620px;
    margin: 0px;
    padding-top: 50px;
    color: #ECF0F1;
}

#lado_direito{
    float: left;
    background-color: #ECF0F1;
    /*background-color: red;*/
    width: 620px;
}

#foto_perfil{
    position: relative;
    margin-left: 200px;
    width: 150px;
}

h1{
    margin-left: 200px;
}

h2{
    margin-left: 120px;
}

h3{
    margin-left: 120px;
    margin-bottom: 0px;
}

p{
    margin-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

P.info{
    margin-top: 0px;
}

.icones{
    position: relative;
    float: left;
    margin-left: 50px;
    width: 50px;
}
